@import url("https://fonts.googleapis.com/css?family=Poppins:300i,400,500");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
